<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}WhiteOctoberAdminBundle{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberadmin/css/html-min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberadmin/css/base.css') }}" />
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                {% block header_title %}{% endblock %}
                {% block menu %}{% endblock %}
                {% block login %}{% endblock %}
            </div>
            <div class="main-content clearfix">
                {% block content %}{% endblock %}

                {% block footer %}{% endblock %}
            </div>
        </div>
        <script src="{{ asset('bundles/whiteoctoberadmin/js/jquery-1.6.2.min.js') }}"></script>
    </body>
</html>
