{% extends "WhiteOctoberAdminBundle::layout.html.twig" %}

{% block home_active %}active{% endblock %}

{% block content %}
    <div class="panel">
        <div class="panel_header">Welcome</div>
        <div class="panel_content">
            <p>Hello welcome to your admin area</p>
        </div>
        <div class="panel_footer">
            <p>Created by <a href="http://twitter.com/pablodip">Pablo Díez</a> on <a href="http://www.whiteoctober.co.uk">White October</a></p>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
