<div class="panel_content">

    {{ form_errors(form) }}
    {{ form_widget(form) }}

</div>
<div class="panel_footer">
    <ul>
        <li>
            <a class="button_slidingdoors button_yellow" onclick="document['adminform'].submit(); return false;">
                <span>Save</span>
            </a>
        </li>
    </ul>
</div>