<div class="panel_content">

    {{ form_errors(form) }}
    {{ form_widget(form) }}

</div>
<div class="panel_footer">
    <ul>
        <li>
            <input type="submit" value="Save" class="jsreplace" />
        </li>
    </ul>
</div>